nav {background-color: #F8F0DF;
    
}
.floating-top{
    position:fixed;
    margin-left:0;
    padding-left:0%;
    width:100%
}
body{
    background-color:#FEFBF3;
     
}
#lists-posts{
    margin-left:10%;
    margin-right:10%;
   padding-top:5%;
}
p{
    text-align: center;
}
h1{
    margin-left:10%;
    margin-right:10%;
   padding-top:20%;
    text-align: center;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
