{% load static %}
{% url 'public:index' as index_url %}
{% url 'public:about' as about_url %}
{% url 'public:contact' as contact_url %}
{% url 'public:recents' as recents_url %}

<nav class="navbar  navbar-expand-lg navbar-light floating-top">
  <div class="container-fluid">
    <a class="navbar-brand " href="{{ index_url }}">
      <img class='me-2' src="{% static 'blog/images/favicon.ico' %}" alt="home" />
      DataZoom
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" href="{{recents_url}}">Recents Posts</a>
        <a class="nav-link" href="#">Mailing lists</a>
        <a class="nav-link" href="{{contact_url}}">Contact</a>
        <a class="nav-link" href="{{about_url}}">About us</a>
      </div>

      {% url 'public:index' as index_url %}
      {% url 'public:recents' as recents_url %}

      {% if request.path == index_url or request.path == recents_url %}
        <form class="d-flex ">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      {% endif %}

      <!-- <div class="navbar-nav me-auto mb-2 mb-lg-0"> -->
        {% if user.is_authenticated %}

          <!-- new -->
          <ul class="navbar-nav">

            <li class="nav-item dropdown">
              <a class="nav-link active dropdown-toggle" href="#"   data-bs-toggle="dropdown" aria-expanded="false">
                {{user.username}}
              </a>
              <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><a class="dropdown-item" type="button">Profile</a></li>
                <li><a class="dropdown-item" type="button">Settings</a></li>
                <li><a class="dropdown-item" type="button" href="{% url 'accounts:logout' %}">Logout</a></li>
              </ul>
            </li>
          </ul>
          <!-- newend -->

          <!-- <span class='navbar-text'>
            Hi {{ user.username }}!
          </span>
          <a class='nav-link' href="{% url 'accounts:logout' %}">Logout</a> -->
        {% else %}
        <ul class="navbar-nav mr-auto">
          <li class='nav-item'>
            <a class='nav-link' href="{% url 'accounts:login' %}">Login</a>
          </li>
        </ul>
        {% endif %}
      <!-- </div> -->
      
    </div>
  </div>
</nav>