{% load static %}

<nav class="navbar  navbar-expand-lg navbar-light floating-top">
  <div class="container-fluid">
    <a class="navbar-brand " href="http://localhost:8000/index/">
      <img class='me-2' src="{% static "blog/images/favicon.ico" %}" alt="home" />
      DataZoom
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" href="#">Recents Posts</a>
        <a class="nav-link" href="#">Mailing lists</a>
        <a class="nav-link" href="http://localhost:8000/contact/">Contact</a>
        <a class="nav-link" href="http://localhost:8000/about/">About us</a>
      </div>

      {% url 'public:index' as index_url %}

      {% if request.path == index_url %}
        <form class="d-flex ">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      {% endif %}

    </div>
  </div>
</nav>